* text=auto eol=lf

# Code
*.py            text diff=python
*.pyc           binary
*.ps1           text encoding=utf-16le eol=crlf
*.sh            text diff=bash

# Docs
*.html          text diff=html
*.md            text diff=markdown
*.pdf           binary

# Samples
*.als           binary


.vscode         export-ignore
docs            export-ignore
tools           export-ignore
.gitattributes  export-ignore
.gitignore      export-ignore
*.md            export-ignore
setup.*         export-ignore
